.chart {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    
    margin: 10px;
  }
  .chart-all{
    border: 2px solid black;
    margin: 10px;
  }
  .pie{
     font-weight: bold;
    margin: 0px 6rem 0px 0px;
    text-align: center;
  }
  .chart-head {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .chart-data {
    margin-bottom: 20px;
  }
  
  .chart-pie {
    width: 400px;
    height: 200px;
  }
  